# API Configuration
API_BASE_URL_DEBUG=http://10.0.2.2:8080
API_BASE_URL_RELEASE=https://pointfinder.pt

# Release Signing
KEYSTORE_FILE=app-key.jks
KEYSTORE_PASSWORD=your_keystore_password
KEY_ALIAS=your_key_alias
KEY_PASSWORD=your_key_password
